*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 20px;
}

/* UTILITY */

.container{
    width: 80%;
    margin: auto;
}

.clear-fix::after{
    content: '';
    display: table;
    clear: both;
}

/* HEADER */

.container.titolo{
    height: 80px;
    margin-bottom: 20px;
    background-color: rgb(252, 101, 201);
}

/* MAIN */

.section-img{
    height: 300px;
    background-color: rgb(248, 232, 7);
}

.container-content{
    margin-top: 20px;
    background-color: royalblue;
    padding-bottom: 20px;
}

.content-high{
    height: 90px;
    background-color: skyblue;
}

.content-left{
    width: 20%;
    height: 370px;
    background-color: skyblue;
    margin-top: 20px;
    float: left;
}

.content-center{
    width: 56%;
    height: 370px;
    background-color: skyblue;
    margin-left: 2%;
    margin-top: 20px;
    float: left;
}

.content-right{
    width: 20%;
    height: 370px;
    background-color: skyblue;
    margin-top: 20px;
    float: right;
}

/* FOOTER */

.intestazione-finale{
    height: 70px;
    background-color: purple;
    margin-top: 10px;
}